/* 
/// The place to be for all the main style rules... ///
*/

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	color: $secondaryColor;
	text-align: center;
}